/* sets the game container to window size without scroll bars */
.game-container {
  background: lightblue;
  width: calc(100%-20px);
  min-height: 100vh;
  border: 10px solid black;
  position: relative;
  box-sizing: border-box;
  overflow: hidden; 
}


/* container for the characters on the top of the screen */
#character-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1.5px solid black;
}

.instruction-box {
  position: absolute;
  top: 150px;
  left: 25vw;
  width: 50vw;
  height: 20vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* futuristic background image */
#battle-ground {
  position: absolute;
  top: 120px;
  width:100%;
  min-height: 900px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1543083115-638c32cd3d58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
  opacity: .5;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#character1 {
  background-image: url('  https://images.unsplash.com/photo-1549651427-1118c06e1e27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=60');
}


.chosen-character {
  width: 100%;
  height: 66.66%;
  align-self: center;
  display: block;
  
  /* position: absolute;
  top: 50vh;
  left: 10vw; */
}


/* creates the stats box around character and centers character in the middle */
.stats-container {
  position: absolute;
  top: 70vh;
  left: 80vw;
  width: 80px;
  height: 110px;
  background: white;
  border:1.5px solid black;
  
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.position-one {
  top: 48vh;
  left: 10vw;
  transition: left top .5s
  
}

.position-two {
  top: 72vh;
  left: 10vw;
  transition: left top .5s

}
.position-three {
  top: 48vh;
  left: 80vw;
  transition: left top .5s

}

.position-four {
  top: 72vh;
  left: 80vw;
  transition: left top .5s

}

.life-force {
  font-size: .75rem;
  font-weight:1000;
  margin-top: 3px;
  margin-left: .5px;
}
.player-power {
  font-size: .75rem;
  font-weight:1000;
  margin-top: 0;
  margin-left: .5px;
}

.instruction-box {
  border: 1.5px solid black;
}

#instruction-message {
  font-size: 2rem;
  font-weight: 500;
}
#instruction-message2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.buttons-box {
  position: absolute;
  width: 50vw;
  height: 45vh;
  top: 300px;
  left: 25vw;
  /* background-color: white; */
} 

.attack-buttons {
  float: right;
  width: 25%;
  height: 100%;
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.defense-buttons {
  float:left;
  width: 25%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#attack-up {
  width: 100%;
  height: 20%;
  background-color: lightgreen;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#attack-down {
  width: 100%;
  height: 20%;
  background-color: lightpink;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

#defend-up {
  width: 100%;
  height: 20%;
  
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}

#defend-down {
  width: 100%;
  height: 20%;
  
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

#defend-up-button {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  font-size: 1.35rem;
}

#defend-down-button {
  width: 100%;
  height: 100%;
  background-color: lightseagreen;
  font-size: 1.35rem;
  
}

#attack-up-button {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  font-size: 1.35rem;
}

#attack-down-button {
  width: 100%;
  height: 100%;
  background-color: lightseagreen;
  font-size: 1.35rem;
}

